.main {
  display: flex; // Use flexbox for layout
  justify-content: center; // Center content horizontally
  align-items: center; // Center content vertically
  height: 100vh; // Full viewport height
  background-image: url('../../assets/images/31K91HR.jpg'); // Path to your image
  background-size: cover; // Cover the entire area
  background-position: center; // Center the image
  background-repeat: no-repeat; // Prevent the image from repeating
}

.header {
  background-color: rgba(0, 0, 0, 0.5); // Darker background for better contrast
  padding: 20px; // Padding around the header
  text-align: center; // Center the text
  color: #f0f0f0; // Light gray text color for contrast
  position: absolute; // Position it at the top
  width: 100%; // Full width
  top: 0; // Align to the top
  z-index: 10; // Ensure it appears above other content
  h1 {
    font-size: 2.5rem; // Larger font size for the title
    margin: 0; // Remove default margin
    color:red;
    font-family: crimson;
  }
}

.callToAction {
  text-align: center; // Center text
  background-color: rgba(20, 80, 11, 0.2); // Light background with some transparency
  padding: 40px; // Padding around the section
  border-radius: 8px; // Rounded corners
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); // Slightly stronger shadow for depth

  h2 {
    font-size: 3rem;
    margin-bottom: 20px; 
    color: whitesmoke; 
  }

  .signupButton {
    background-color: #086d3b; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1rem; 

    &:hover {
      background-color: #00b3067a; // Darker blue on hover
    }
  }
}